black
Cython
easydict
flake8
gdown
git+https://github.com/facebookresearch/detectron2.git
git+https://github.com/KaiyangZhou/deep-person-reid.git
isort
matplotlib
numpy
omegaconf
onnx
onnx-simplifier
opencv-python
Pillow
pre-commit
pyaml
pycocotools
pytest
pytest-cov
pytorch-lightning
tabulate
tensorboard
tensorflow
termcolor
torch
torchmetrics
torchvision
tqdm
thop
ninja
alfred-py
scikit-learn==0.22.2
scipy
pygit2
pgzip
