alfred-py
black
Cython
easydict
flake8
gdown
isort
matplotlib
ninja
numpy
omegaconf
onnx
onnx-simplifier
opencv-python
pgzip
Pillow
pre-commit
pyaml
pycocotools
pygit2
pytest
pytest-cov
pytorch-lightning==1.6.0
requests==2.27.1
tabulate
tensorboard
tensorflow
termcolor
torch==1.11.0
torchaudio==0.11.0
torchdata==0.3.0
torchmetrics==0.7.3
torchtext==0.12.0
torchvision==0.12.0
tqdm
thop
scikit-learn==0.22.1
scipy
git+https://github.com/facebookresearch/detectron2.git
git+https://github.com/KaiyangZhou/deep-person-reid.git
